<a href="https://colab.research.google.com/github/graviada/colabRepo/blob/master/DataAnalysisMethods%20(6%2C%202022)/DataAnalysisMethods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Task 2

Companies:
> * Heineken
> * Anheuser-Busch InBev
> * Carlsberg
> * Brown-Forman
> * Asahi
> * Pernod Ricard
> * Compañía Cervecerías Unidas

In [ ]:
pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import yfinance as yf

In [ ]:
heineken = yf.download('HEINY','2011-02-10','2022-03-22')[['Close', 'Volume']]
an_busch = yf.download('BUD','2011-02-10','2022-03-22')[['Close', 'Volume']]
carlsberg = yf.download('CABGY','2011-02-10','2022-03-22')[['Close', 'Volume']]
brown_for = yf.download('BF-B','2011-02-10','2022-03-22')[['Close', 'Volume']]
asahi = yf.download('AHKSY','2011-02-10','2022-03-22')[['Close', 'Volume']]
per_ric = yf.download('PRNDY','2011-02-10','2022-03-22')[['Close', 'Volume']]
comp_cer = yf.download('CCU','2011-02-10','2022-03-22')[['Close', 'Volume']]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [ ]:
CONST_SIZE = len(heineken)
CONST_COUNT = 7

In [ ]:
heineken.head(8)

                Close  Volume
Date
2011-02-10  24.780001   10100
2011-02-11  24.650000   22000
2011-02-14  24.450001    8800
2011-02-15  24.799999    5100
2011-02-16  25.840000   21800
2011-02-17  25.830000   27400
2011-02-18  25.990000   58800
2011-02-22  25.520000   15900

In [ ]:
type(heineken)

pandas.core.frame.DataFrame

1. Aggregated characteristic for each company

In [ ]:
company_list = [heineken, an_busch, carlsberg, brown_for, asahi, per_ric, comp_cer]

сразу подать список, затем изменять его члены
или создать один большой дата фрейм и

In [ ]:
def aggr_char(array):
  n = len(array)
  answ = []

  for i in range(n):
    answ.append(array['Close'][i] * array['Volume'][i])

  return answ

In [ ]:
chars = []
S = []
summ = 0
for comp in company_list:
  chars.append(aggr_char(comp))

for i in range(CONST_SIZE):
  for j in range(CONST_COUNT):
    summ += chars[i][j]
  S.append(summ)

print(S)

[5602325371.446991, 404698630231.4456, 410325369503.5227, nan, nan, nan, nan]

In [ ]:
# print(chars[1][1])

97853725.93345642